extends layout

block content
	.row-fluid
		.span12
			.panel.panel-default
				.panel-heading Créer un article
				.panel-body
					form(method='post')
						input.form-control(type='text', name='title', placeholder='Titre', id="editArticleTitle", required, autofocus)
						br
						textarea.form-control(name='body', rows=10, id='editArticleBody')
						script.
							CKEDITOR.replace('editArticleBody');
						br
						.categories
							.panel.panel-default
								.panel-heading Categories :							
								.panel-body
									.checkbox.checkbox-inline
										- each category in categories
											label(style="margin-left:30px; display: inline-block")
												input(type='checkbox', name='category_list', value=category.name)
												!{category.name}
						input(type='submit', class='btn btn-primary btn_block', value='Valider')