extends layout

block content
	.row-fluid
		.span12
			.panel.panel-default
				.panel-heading Modifier un article
				.panel-body
					form(method='post', action='/blog/edit/'+article._id)
						input(type='text', class='form-control', name='title', placeholder='Titre', id="editArticleTitle", value=article.title, required, autofocus)
						br
						textarea(name='body', class='form-control', rows=10, id='editArticleBody') !{article.body}
						script.
							CKEDITOR.replace('editArticleBody');
						br
						input(type='submit', class='btn btn-primary btn_block', value='Valider')