extends layout

block content
	.row-fluid
		.col-lg-4
			.panel.panel-default
				.panel-heading Mot de passe oublié
				.panel-body
					form(method='POST')
						.form-group
							label(for='email') Email
							input.form-control(type='text', name='email', placeholder='Email', required, autofocus)
						if message && message.length
							.alert.alert-danger= message
						button.btn.btn-primary(type='submit') Réinitialiser votre mot de passe
	