extends layout

block content
	.row-fluid		
		.col-lg-4
			.panel.panel-default
				.panel-heading Authentifiez-vous
				.panel-body
					form(role='form', id='login-form', action='/login', method='post')
						.form-group
							input.form-control(type='email', name='email', id='email', placeholder='Email', required, autofocus)
						.form-group
							input.form-control(type='password', name='password', id='password', placeholder='mot de passe', required)
						.form-group
							input(type='submit', class='btn btn-primary', value = 'Valider')
						.form-group
							a(href='/forgot') Mot de passe oublié ?
						if message && message.length
							.alert.alert-danger= message
					a(href='/signup', class='text-center new-account') Créer un compte