extends layout

block content
	.row-fluid
		.col-lg-4
			.panel.panel-default
				.panel-heading Create user
				.panel-body
					form(class='form-signin', action='/signup', method='POST')
						.form-group
							.input-group
								input(type='email', name='email', class='form-control', placeholder='Email',required, autofocus)
								span.input-group-addon
									i.fa.fa-pencil
						.form-group
							.input-group
								input(type='text', name='username', class='form-control', placeholder='User name',required)
								span.input-group-addon
									i.fa.fa-pencil
						.form-group
							.input-group						
								input(type='password', name='password', id='password', class='form-control nomargin', placeholder='password', required)
								span.input-group-addon
									i.fa.fa-pencil
						.form-group
							.input-group						
								input(type='password', name='confirm_password', class='form-control nomargin', placeholder='confirm password', required)
								span.input-group-addon
									i.fa.fa-pencil									
						.form-group
							.captchaHolder !{captcha}
						.form-group
							button(class='btn btn-lg btn-primary btn-block', type='submit') Register
							#message
								if message && message.length
									p
									.alert.alert-danger
										text-center #{message}