body	
	font-family "Helvetica Neue", "Lucida Grande", "Arial"
	font-size 13px
	text-align left	
	height 100%
	color #555
h2
	margin 0px
	font-size 22px
	color #778899
  
.banner
	overflow hidden
	margin 10px
	background-color #D3D3D3
	border-radius 10px 10px 0px 0px
	height 70px
	.title
		margin auto
		vertical-align middle
		text-align center 
		font-size 50px		
	.login
		background-color #778899
		position absolute
		right 20px
		top 20px
	.welcome
		background-color #778899
		position absolute
		right 20px
		top 20px
	.logout
		background-color #778899
		position absolute
		right 20px
		top 50px
		
#myCarousel
	width 100%
	height 400px
	background-color #5f666d
	color white

.block
	overflow hidden
	.block-left
		float left
		width 100px
		position absolute
		top 85px
		left 10px		
		bottom 80px
		background-color #778899		
	.block-center	
		position absolute
		top 85px
		left 100px
		right 100px
		bottom 80px
		background-color #D3D3D3 
	.block-right
		float right
		width 100px
		position absolute
		top 85px
		right 10px		
		bottom 80px
		background-color #778899	
	
.articles
	margin 20px
	text-align left
	width 90%
	.article
		margin 20px
		background-color #ffffff
		.created_at
			display none
		.title
			overflow hidden
			font-weight bold
			text-decoration underline
			background-color #eee
			.btnsupprimerarticle
				float right
				position absolute				
				right 20px
		.body
			background-color #ffffff